/* style.css */

body.highContrast {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

body.highContrast table {
    border-color: white;
}

body.highContrast th {
    background-color: black;
    color: yellow;
}

body.highContrast td {
    background-color: black;
    color: white;
}
